


.isHidden {
    visibility: hidden;

}

.isClicked.sorting:active {

    cursor: grab;
    transform: scale(.95) ;
    transition: all 0.8;
    touch-action: none;

}

.sorting {
    
    pointer-events: none;

}

