
.editExpenseComponent {

    /*TEMPORARY*/
    margin-right: auto;
    margin-left: auto;


    width: 100%;
    max-width: 730px;
    min-height: 50px;
    color: #313d46;
    font-family: 'Sen', sans-serif !important;
    
}
.editExpenseComponent .activitySummary {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.editExpenseComponent ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}





.editExpenseComponent .activitySummary ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.editExpenseComponent .activitySummary ul li:not(:last-of-type) {
    padding-right: 15px;
}

.editExpenseComponent .activitySummary ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-top: 30px;
}

.squareIcon {
    width: 50px;
    height: 50px;
    display: block;
    border: 1px solid #e0e0e0;
    background-size: 30px 30px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 10px;
    background-color: #fff !important;
    text-indent: -999999px;
    box-shadow: 0 2px 2px 0 #888888;

}
.squareIcon.transfer {
    background: url(../images/transfer.svg); 

}
.squareIcon.delete {
    background: url(../images/trashcan.svg); 

}

.squareIcon.edit {
    background: url(../images/edit-text.svg); 

}

.squareIcon.return {
    background: url(../images/arrow-back.svg); 

}

.squareIcon:active {

    transform: scale(.90);
    border: 1px solid #e0e0e0;    


}
.squareIcon:hover {
background-color: #f1f3f4 !important;

}


.editExpenseComponent .activitySummary h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2em;

}

.editExpenseComponent .activitySummary h2 + p + p {
    text-align: center;
}

.editExpenseComponent .activitySummary h2, .editExpenseComponent .activitySummary p {
    margin-top: 0;
    text-align: center;
}
.editExpenseComponent .activitySummary p {
    font-size: 14px;
}
.editExpenseComponent .activitySummary p span {
    font-weight: bold;

}

.editExpenseComponent .activityListview {
    padding-left: 0;
    display: inline-block;
    width: 100%;
    margin-top: 0px;
    position: relative;
}

.editExpenseComponent .activityListview .individualTransaction button {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    padding: 15px;
    border:0;
    font-size: 1em;
}
.editExpenseComponent .activityListview .individualTransaction button div h2 {
    text-align: left;
    margin-top: 0;
    font-size: 1.17em;
}

.editExpenseComponent .activityListview .individualTransaction button div p {
    font-size: 1em;
    font-family: 'Sen', sans-serif;
}

.editExpenseComponent p.transactionValue {
    margin-top: 0;
    font-size: 1.17em !important;
    font-weight: bold;
    color: #ef3f3a; 
}

.editExpenseComponent .activityListview .transactionValue.credit {
    color: #5dd38c;   
}
.editExpenseComponent .activityListview .transactionValue.credit:before {
    content:"+ ";
    display: inline-block;
}
.editExpenseComponent .activityListview .individualTransaction button div:last-child {
    min-width: 118px;
}
.editExpenseComponent .activityListview .individualTransaction button div:last-child p {
    text-align: right;
    margin-top: 0;
    margin-bottom: 15px;
}
.editExpenseComponent .activityListview .individualTransaction button div p:last-child {
    margin-bottom: 0;

}
p.noTransactions { width: 100%; text-align: center; position: absolute;  }

.editExpenseComponent .activityListview .individualTransaction button div:first-child p {
    text-align: left;
}
.editExpenseComponent .activityListview .transactionDays div.dateSummary {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 15px 10px 15px;
}
.editExpenseComponent .activityListview .transactionDays div.dateSummary h2 {
    font-size: .75em;
    margin: 0px;
}

.editExpenseComponent .individualTransaction button:hover {
    cursor: pointer;
    background-color: #313d46;
    color: #fff;
}

.editExpenseComponent .individualGoal:hover .statusBar {
    border-color: #fff;
}

.editExpenseComponent .individualGoal button:not(.deleteButton) {
    display:flex;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px; 
    font-family: 'Sen', sans-serif;
    font-size: 1em;
}

.editExpenseComponent .individualTransaction {
    background-color: #fff;
    list-style-type: none;
    border-bottom: 1px solid #e0e0e0;



}

/*Edit Transaction Window*/

.editExpenseComponent .editExpenseDetails > h2, .editExpenseComponent .editExpenseDetails > p {
    text-align: center;
} 


.editExpenseComponent .editExpenseDetails input, .editExpenseComponent .editExpenseDetails label {
    width: 100%;
    display: block;
    font-size: 1em;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.editExpenseComponent .editExpenseDetails select {
    padding: 15px;
    -webkit-border-radius: 0;
    margin-top: 15px;
    width: 100%;
    font-size: 16px;

}
.editExpenseComponent .editExpenseDetails select:hover {
    cursor:pointer;

}
.editExpenseComponent .editExpenseDetails div label {
    padding: 15px 15px 15px 0px;

}

.editExpenseComponent .editExpenseDetails #transactionNotes {
    padding: 15px 0px;
    margin-top: 15px; 
    text-align: center;
    margin-bottom: 50px;

}

.editExpenseComponent #saveAndSubmit, .editExpenseComponent #close {
    padding: 15px 0px;
    margin-bottom: 15px;

}
.editExpenseComponent #saveAndSubmit:hover, .editExpenseComponent #saveAndSubmit:active, .editExpenseComponent #close:active, .editExpenseComponent #close:hover {
    cursor: pointer;

}

/*END EDIT TRANSACTION DETAILS*/



.editExpenseComponent .recentTransactions ul li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;

}
.editExpenseComponent .recentTransactions ul li:first-child {
    border-top: 1px solid #e0e0e0;

}
.editExpenseComponent .recentTransactions ul li div:last-child p {
    color: #ef3f3a;
    font-weight: bold;
}
.editExpenseComponent .recentTransactions ul li div:first-child p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}
.editExpenseComponent .recentTransactions ul li div:first-child p {
    margin: 0;
}
.editExpenseComponent .recentTransactions h2 {
    text-align: center;

}

