.formSlide {
    height: 400px;
    overflow: hidden;
    width: 100%;
    display: block;
    margin: auto;
}

.formSlider .flickity-prev-next-button {
    top: 100%;
    z-index: 1;

}

.formSlider .flickity-button:disabled {
    visibility: hidden;
}

.formSlider .flickity-page-dots {
    bottom: -8px;
}
 .formSlider .instructions {
    padding: 15px 30px 15px 30px;
 }
 .formSlider .instructions span {
    font-weight: bold;
 }

 .formSlide .DayPicker {
    display: table;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.popupComponent .popup div .formSlider .horizontal input, .popupComponent .popup div .formSlider .horizontal label {
    width: auto;
}

ul.selectOptions li button {
    border-radius: 0px;
    border: 1px solid #000;
}

ul.slideList {
    
    padding: 0px 0px 0px 24px !important;
    margin: 0 auto 0 auto !important;
    list-style-type: disc !important;
    max-width: 500px;

}

