body {
	width: 100%;
	margin: 0;
    padding: 0;
    border: 0;

}

html, body {
	height: 100%;
	font-weight: 16px;
}

header {
	position: relative;
	display: block;
	z-index: 1;
}
button:hover {
	cursor: pointer;
}
body.budgetBackground {
	background-color: #fff;
}

.greyBackground {
	background-color: #fafafa;
}

div.content.greyBackground {
	padding-top: 100px;
}

.crdStyle {
	border-radius: 30px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}

.hiddenText {
	position: absolute;
	height: 1px;
	width: 1px;
	border: 0px;
	clip: rect(1px,1px,1px,1px);
}

.setHeight {
	height: 200px;
}

.colorWhite {
	color: #fff;
}

.colorWhite a {
	color: #fff;
}

.dottedFocus:active {
	border: dotted 2px #000;
}

.centerText {
	text-align: center;
}
.textLeft {
	text-align: left !important;
	padding-left: 0 !important;
}

.bold {
	font-weight: bold;
}

.selectOption ul li .radioButton {
	border-radius: 30px;
	border: 1px solid #000;
	display: flex;
    justify-content: space-between;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
    padding: 15px;
    text-align: center;
    font-size: 1em;
    background-color: #fff;
    font-family: 'Sen', sans-serif !important;
	margin-bottom: 5px;
}

.selectOption ul li .radioButton:hover, .selectOption ul li .radioButton:focus  {
    cursor: pointer;
    background-color: #f1f3f4;
    font-weight: bold;

}

.selectOption ul li .radioButton:active {
    transform: scale(.9);
}

.selectOption ul li .radioButton input {
	width: auto !important;
}


.calendarComponent .DayPicker {
		display: table;
		font-size: 18px;
		margin-left: auto;
		margin-right: auto;
	}

.moveFundsSelector select{
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
	width: 100%;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}
.moveFundsSelector {
	display: flex;
	flex-direction:column;

}
