
.popupComponent .popup .smallScreen {
    margin-bottom: 0;
}
.smallScreen h2, .smallScreen p {

    text-align: center;
    margin-top: 0;

}

.smallScreen .selectOptions {
    margin: 0;
}

.smallScreen .strong {
    font-weight: bold;
}

.noselect {
    
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}

.popupComponent .popup div.horizontal {
    display: flex;
    justify-content: center;
}

.popupComponent .popup div > h2, .popupComponent .popup div > p {
    margin-top: 0;
}